$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);
$color-a: hsl(228, 45%, 44%);

$alpha-main-paragraph: 0.75;
$alpha-stat-headings: 0.6;