main.main-container 
  .images-container: img(src="#", alt="Imagen de fondo")
  .texts-container 
    h2.text__title Get insights that help your business grow.
    p.text__paragraph Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.
  .stats-container 
    .stat-companie
      h2 10k+
      p companies
    .stat-templates
      h2 314
      p templates
    .stat-queries
      h2 12m+
      p queries